html,
body,
#root,
#root > div {
  min-height: 100vh;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  height: 60px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
  position: fixed;
  width: 100%;
  background: #fff;
  top: 0px;
  z-index: 1;
}

.header-area {
  width: 100%;
  max-width: 1024px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-area a {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  height: 45px;
  display: flex;
  justify-content: center;
}

.header-area a > * {
  align-items: center;
}

.header-area img {
  width: auto;
  height: 45px;
}

.content {
  padding-bottom: 50px;
}

.footer {
  height: 50px;
  background-color: rgb(230, 230, 230);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer > img {
  height: 25px;
}
